{% extends 'base.html.twig' %}

{% block title %}Hello ParcourFormationController!{% endblock %}

{% block body %}

<section class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Parcour Formation</h1>
        </div>
    </div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<ul>
  <li>Apprendre et se familiariser avec les nouveaux outils du numérique</li>
  <li>Des parcours adaptés à tous les niveaux</li>
</ul>

<h3>Grand débutant</h3>
<ul>
  <li>Rejoignez notre parcours dédié aux grands débutants en informatique, structuré en 8 séances interactives. Apprenez à votre rythme les bases essentielles...</li>
</ul>

<h4>Calendrier des sessions</h4>
<ul>
  <li>Session 1 | du 11 septembre au 13 novembre 2024</li>
  <li>Session 2 | du 20 novembre 2024 au 22 janvier 2025</li>
  <li>Session 3 | du 29 janvier au 2 avril 2025</li>
  <li>Session 4 | du 07 mai au 25 juin 2025</li>
</ul>

<h3>Initiation</h3>
<ul>
  <li>Participez à nos parcours d'initiation informatique, organisés les mardis et jeudis de 16h30 à 18h00. À travers 5 cycles thématiques...</li>
</ul>

<h4>Calendrier des cycles</h4>
<ul>
  <li>CYCLE 1 | du 11 septembre au 13 novembre 2024 | Apprenez à gérer votre ordinateur</li>
  <li>CYCLE 2 | du 20 novembre 2024 au 22 janvier 2025</li>
  <li>CYCLE 3 | du 29 janvier au 2 avril 2025</li>
  <li>CYCLE 4 | du 07 mai au 25 juin 2025</li>
  <li>CYCLE 5 | du 07 mai au 25 juin 2025</li>
</ul>

<h3>Perfectionnement</h3>
<ul>
  <li>Nos modules de perfectionnement, destinés à un public averti, se déroulent le mercredi soir de 18h00 à 19h30...</li>
</ul>

<h4>Calendrier des modules</h4>
<ul>
  <li>Module Vidéo Débutant | du 18 mars au 8 avril 2025 (4 séances) | 18h00 à 19h30</li>
</ul>
{% endblock %}
