{% extends 'base.html.twig' %}

{% block title %}LeFABLAB!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>un Fablab c'est quoi ?</h1>
    <P>Un Fablab (contraction de L'anglais fabrication Laboratory), Laboratoire de fabrication est un atelier de fabrication numérique ouvert a tous.Il est équipé de machines à commande numérique telle qu'une imprimante 3D, et/ou une graveuse laser et autres appareils d'usinage,fraisages, tours ext...</p>    
</div>

{% endblock %}
