{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  <p>Projet</p>
  <table class="table table-bordered text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th colspan="4">Histoire</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pc avec disquette</td>
        <td><img src="assets/images/histoire1.jpeg" class="img-thumbnail" alt="histoire 1"></td>
        <td><img src="assets/images/memorieshistory.jpg" class="img-thumbnail" alt="histoire 2"></td>
        <td>Carte mere avec memoires</td>
      </tr>
      <tr>
        <td>Cartes Perforée binaires</td>
        <td><img src="assets/images/memorieshistory2.jpg" class="img-thumbnail" alt="histoire 3"></td>
        <td><img src="assets/images/memorieshistory3.jpg" class="img-thumbnail" alt="histoire 4"></td>
        <td>Memoires a tores electromagnetiques</td>
      </tr>
      <tr>
        <td>Disque dur de 1 Mega octet</td>
        <td><img src="assets/images/hddhistory.jpg" class="img-thumbnail" alt="histoire 5"></td>
        <td><img src="assets/images/i40042jpg.jpg" class="img-thumbnail" alt="histoire 6"></td>
        <td>Premier processeur a circuit integré</td>
      </tr>
    </tbody>
  </table>
</div>


{% endblock %}



