{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Laissez nous un message! ✅</h1>

    Nous vous répondrons dans les meilleurs delais (d'ici noel)
   <form>
  <div class="mb-3">
    <label for="email" class="form-label">Adresse email</label>
    <input type="email" class="form-control" id="email" placeholder="Votre adresse email" required>
  </div>

  <div class="mb-3">
    <label for="message" class="form-label">Votre message</label>
    <textarea class="form-control" id="message" rows="4" placeholder="Écrivez votre message ici..." required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>

</div>
{% endblock %}
